@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-glow {
  font-size: 1.5rem;
  color: #000; 
  text-shadow: 
    0 0 10px rgba(255, 255, 255, 1), 
    0 0 10px rgba(255, 255, 255, 1), 
    0 0 10px rgba(255, 255, 255, 1), 
    0 0 10px rgba(255, 255, 255, 1); 
}

.dot {
  width: 12px;
  height: 12px;
  background-color: #ccc;
  border-radius: 50%;
  margin-right: 8px;
  cursor: pointer;
}

.dot.active {
  background-color: red;
  width: 15px;
  height: 15px;
}


.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  overflow: auto;
}

.modalContent {
  background-color: #FFFFFF;
  min-width: 100px;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  top: 5%;
  margin-top: 30px;
  margin-bottom: 80px;
  margin-left: 20px;
  margin-right: 20px;
  display: inline-flex;
  flex-direction: column;
  background: linear-gradient(to top, #FDDA04 30%, white 20%);
}

.closeButton {
  position: absolute;
  top: 18px;
  right: 20px;
  cursor: pointer;
  color: #EC201F;
  font-weight: bolder;
  font-size: 20px;
  transition: all 0.3s;
}

@media only screen and (min-width: 800px) {
  .modalContent {
    min-width: 500px;
  }
}
@media only screen and (min-width: 950px) {
  .modalContent{
    background: linear-gradient(to left, #FDDA04 33%, white 20%);
  }
}

.background-white{
  background: linear-gradient(to left, #FDDA04 20%, white 70%);
}

@font-face {
  font-family: 'Piedra';
  src: url('./../assets/fonts/Piedra-Regular.ttf') format('truetype');
}

.font-piedra {
  font-family: 'Piedra', sans-serif;
}